body, p, h1{
    margin: unset;
    padding: unset;
}
img{
    vertical-align: top;/*이미지의 아래쪽 빈칸 제거 (기본 스타일 초기화)*/
}

/*디자인*/
:root{
    font-family: 'arial';
}

body{
    background-image: url(images/bg.png);
    
}

.wrap{
    width: 300px;/*😅너비를 설정해야 중앙정렬가능!*/
    height: 100vh;

    margin-top: 60px;
    margin-left:  auto;
    margin-right: auto;
    padding: 0;


}

.fox-img{
    width: 300px;
    height: 300px;
}

.container{
    width: 300px;
}

.grass{
    width: 300px;
    height: 50px;
    margin-bottom: 0;
}

.text{
    width: 300px;
    height: 253px;
    background-color: #9C6035;
    border-bottom: 10px solid #46260E;
    margin-top: 0;
    box-sizing: border-box;/*✨margin, padding상관없이 사이즈 유지시킴*/
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;

    padding: 10px 20px 48px;
}

h1{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 36px;
    color: white;
    height: 41px;
}

p{
    color: #E8BC9C;
    font-size: 16px;
}
